﻿body {
    padding-bottom: 20px;
    padding-top: 20px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    -moz-box-shadow: 1px 1px 10px 0 #737373;
    -moz-box-shadow: 1px 1px 10px 0 rgba(50, 50, 50, 0.75);
    -webkit-box-shadow: 1px 1px 10px 0 #737373;
    -webkit-box-shadow: 1px 1px 10px 0 rgba(50, 50, 50, 0.75);
    -ms-box-shadow: 1px 1px 10px 0 #737373;
    -ms-box-shadow: 1px 1px 10px 0 rgba(50, 50, 50, 0.75);
    box-shadow: 1px 1px 10px 0 #737373;
    box-shadow: 1px 1px 10px 0 rgba(50, 50, 50, 0.75);
    background: whitesmoke;
}

.clear {
    clear: both;
}

.row.first {
    margin-top: 50px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt {
    white-space: normal;
}


.navbar-header-text {
    color: white;
    font-size: large;
    margin-top: 1%;
    margin-bottom: 1%;
}

.navbar {
    height: 30px;
}

@media (min-width: 600px) {
    .navbar-header-text {
        font-size: x-large;
    }

    .navbar {
        height: 50px;
    }
}

.orange {
    background-color: #FF732A;
    border-bottom-color: rgb(231, 65, 16);
}



.playlist {
    background-color: white;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
    width: 90%;
}

.playlist-item {
    -moz-box-shadow: 1px 1px 5px 0 #737373;
    -moz-box-shadow: 1px 1px 5px 0 rgba(50, 50, 50, 0.5);
    -webkit-box-shadow: 1px 1px 5px 0 #737373;
    -webkit-box-shadow: 1px 1px 5px 0 rgba(50, 50, 50, 0.5);
    -ms-box-shadow: 1px 1px 5px 0 #737373;
    -ms-box-shadow: 1px 1px 5px 0 rgba(50, 50, 50, 0.5);
    box-shadow: 1px 1px 5px 0 #737373;
    box-shadow: 1px 1px 5px 0 rgba(50, 50, 50, 0.5);
    background-color: white;
    cursor: pointer;
    height: 60px;
    padding-top: 15px;
    text-align: center;
    vertical-align: middle;
    white-space: pre-wrap;
    -moz-min-width: 250px;
    -ms-min-width: 250px;
    -o-min-width: 250px;
    -webkit-min-width: 250px;
    min-width: 250px;
}

.playlist .current {
    background-color: #25CC71 /*rgba(255, 115, 42, 0.73)*/;
}

.playlist-item:hover {
    background-color: #bfefc6;
    background-color: rgba(44, 199, 69, 0.38);
}

.video-contener {
    -moz-box-shadow: 1px 1px 5px 0 #323232;
    -moz-box-shadow: 1px 1px 5px 0 rgba(50, 50, 50, 0.5);
    -webkit-box-shadow: 1px 1px 5px 0 #323232;
    -webkit-box-shadow: 1px 1px 5px 0 rgba(50, 50, 50, 0.5);
    -ms-box-shadow: 1px 1px 5px 0 #323232;
    -ms-box-shadow: 1px 1px 5px 0 rgba(50, 50, 50, 0.5);
    box-shadow: 1px 1px 5px 0 #323232;
    box-shadow: 1px 1px 5px 0 rgba(50, 50, 50, 0.5);
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
    width: 90%;
    -moz-min-width: 250px;
    -ms-min-width: 250px;
    -o-min-width: 250px;
    -webkit-min-width: 250px;
    max-width: 480px; /*480x270*/
    max-height: 270px;
}

@media (min-width: 800px) {
    .playlist {
        width: 40%;
        margin-left: 5%;
        margin-right: 2%;
    }
}

@media (min-width: 800px) {
    .video-contener {
        width: 45%;
        margin-left: 2%;
        margin-right: 5%;
    }
}

.upload-control {
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border: #a6a0a0;
    border: rgba(71, 70, 70, 0.49);
    -ms-border-radius: 30px;
    border-radius: 30px;
    border-style: solid;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}


.upload-control-header {
    background-color: #a6a0a0;
    background-color: rgba(71, 70, 70, 0.49);
    -ms-border-radius: 27px 27px 0 0;
    border-radius: 27px 27px 0 0;
    font-size: medium;
    padding-left: 3%;
}

@media (min-width: 600px) {
    .upload-control-header {
        font-size: large;
    }

    .navbar {
        height: 50px;
    }
}

.upload-control-content {
    padding: 20px 20px;
}


.field-validation-error {
    color: #FF0000;
}

.input-validation-error {
    border: 1px solid #ff0000;
}

#input-upload {
    width: 70%;
    height: 32px;
    float: left;
    margin-right: 3%;
    margin-bottom: 5px;
}

.upload-subgroup {
    float: left;
    width: 27%;
}



.upload-wrapper {
    overflow: hidden;
    position: relative;
}

    .upload-wrapper input {
        cursor: pointer;
        -webkit-filter: alpha(opacity=0);
        -moz-filter: alpha(opacity=0);
        -o-filter: alpha(opacity=0);
        filter: alpha(opacity=0);
        margin: 0;
        -ms-opacity: 0;
        opacity: 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
    }



@media (max-width: 600px) {
    #input-upload {
        width: 100%;
        margin-right: 0;
    }


    .upload-subgroup {
        width: 100%;
    }

    #upload-message {
        font-size: x-small;
    }

        #upload-message img {
            width: 10px;
            height: 10px;
        }

    .field-validation-error {
        font-size: x-small;
    }
}


fieldset {
    margin: 10px;
}
