﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title>WebJobs in Azure</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <link rel="shortcut icon" href="~/Content/favicon.ico" />
    </head>
    <body>
        <div class="navbar orange navbar-fixed-top">
            <div class="container">
                <div class="navbar-header-text">WebJobs in Azure: Microsoft Platform.</div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Magdalena Książek</p>
            </footer>
        </div>
        <div class="clear"></div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", false)
        @Scripts.Render("~/bundles/customscripts")
    </body>
</html>