﻿@model AzureMoviesConverter.WebUI.Models.MovieModel



<video class="video-contener"  controls="">
    @if (Model != null)
    {
        foreach (var pair in Model.ContentTypeToUrlDictionaryOfConvertedMovies)
        {
            <source src=@pair.Value type=@pair.Key>
        }
    }
</video>
