﻿@model AzureMoviesConverter.WebUI.Models.PlaylistModel


    <div class="playlist">
        @foreach (var movie in Model)
        {
            var sClass = movie.Current ? "playlist-item current" : "playlist-item";
            <div class="@sClass" movieurl=@movie.URL><span>@movie.Title</span></div>
        }
    </div>





