﻿@using AzureMoviesConverter.WebUI.Models
@model MessageType

@{
    string sImgFileName = "";
    string sMessage = "";
    switch (Model)
    {
        case MessageType.Success:
            sImgFileName = "success_47x31.png";
            sMessage = "Success. File will show up after the processing is done.";
            break;
        case MessageType.Uploading:
            sImgFileName = "upload.gif";
            sMessage = "Uploading file...";
            break;
        case MessageType.Failure:
            sImgFileName = "failure_20x20.png";
            sMessage = "Failure. Error occurred.";
            break;
        case MessageType.DatabaseError:
            sImgFileName = "failure_20x20.png";
            sMessage = "Failure. Database error occurred.";
            break;
        case MessageType.None:
            break;
    }
    if (!Model.Equals(MessageType.None))
    {
        <img src=@Url.Content("~/Content/pic/" + sImgFileName) alt="success failure loading icon" />
    }
    <span>@sMessage</span>
}