﻿@model AzureMoviesConverter.WebUI.Models.IndexViewModel


<div class="upload-control">

    <div class="upload-control-header">
        <span>Upload your own video</span>
    </div>

    <div class="upload-control-content">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "uploadForm", enctype = "multipart/form-data" }))
        {
            <fieldset>
                <input id="input-upload" placeholder="Choose File" disabled="disabled" />
                <div class="upload-subgroup">
                    <div class="upload-wrapper btn btn-warning">
                        <span>Select file</span>
                        @Html.TextBoxFor(m => m.File, new { type = "file", accept = "video/*" })
                    </div>
                    <button class="btn btn-warning" id="btClear">X</button>
                </div>
            </fieldset>
            <fieldset>
                @Html.ValidationMessageFor(m => m.File)
                <div id="upload-message">
                    @Html.Partial("_UploadMessage", Model.Message)
                </div>
            </fieldset>
            <fieldset>
                <input id="btn-submit" class="btn btn-warning" type="submit" value="Upload" />
            </fieldset>
        }
    </div>
</div>