﻿@model AzureMoviesConverter.WebUI.Models.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row first">
    @Html.Action("PlaylistAndPlayer")
</div>

<div class="row">
    @Html.Partial("_UploadControl", Model)
</div>